

h4{
font-family: 'Fjalla One', sans-serif;
font-size: 25px;
}

h1{
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
}

h5{
  font-family: 'Quicksand', sans-serif;
  font-size: 10px;
}

h2{
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}
